*{
    margin: 0px;
    padding: 0px;
}

nav{
   
    height: 15vh;
    width: auto;
    background-color: antiquewhite;
}
#navleft{
    width: 60%;
    float: left;
}
#navleft img{
    
   width: 8%;
   display: block;
   margin: 20px 20px 20px 50px;
}
#navright{
   
   margin-top: 35px;
    width: 40%;
    display: block;   
    float: left;
}
#navright ul li{
    background-color: aqua;
    padding: 5px;
    display: block;
   margin-left: 20px;
    float: left;
    list-style: none;
}




